h1{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 80px;
}
.container{
	display: flex;
	justify-content: center;
}
.singleobj{
	height: 200px;
	width: 200px;
	
	margin-right: 40px;
	border: solid;
	border-radius: 40px;
	font-family: "Zen Dots", sans-serif;
	display: grid;
	place-items: center;
}
.mulobj{
	height: 200px;
	width: 200px;
	
	margin-left: 40px;
	border: solid;
	border-radius: 40px;
	font-family: "Zen Dots", sans-serif;
	display: grid;
	place-items: center;
}